.grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    text-align: center;
  }

body{
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: black;
}

#background{
    width: max-content;
    height: 1300px;
}

#judul{
    font-size: 80px;
    font-family: 'Righteous', cursive;
}

#dev{
    font-family: 'Righteous', cursive;
}

h1, h2, h6{
    text-align: center;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
}

h3, p{
    margin-left: 20px;
}

p, li{
    line-height: 1.5;
    text-align: justify;
}


a{
    color: #ca91ff;
}

a:hover{
    color: #2C004F;
}

img{
    width: 300px;
    height: 300px;
}
