body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #131313;
}
.menu {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 81px;
  top: 24px;
}
.menu .newsNav {
  position: absolute;
  left: 75%;
  top: 10%;
}
.menu a {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 40px;
  line-height: 40px;
  float: right;
}
.menu .newsimg {
  height: 40px;
  width: 40px;
  float: right;
}
.nav2 a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-left: 0px;
  margin-top: 0px;
}
#main {
  transition: margin-left 0.5s;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.haiyu {
  position: absolute;
  width: 139px;
  height: 60px;
  left: 72px;
  top: -8px;

  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;
}
.bg {
  position: absolute;
  width: 705px;
  height: auto;
  left: 47%;
  top: 8%;
}
.bgImage {
  width: 50%;
  height: auto;
  position: absolute;
  left: 43%;
  top: 5%;
}
.bg2 {
  width: 705px;
  height: auto;
}

.landing-text {
  position: absolute;
  width: 932px;
  height: 270px;
  left: 100px;
  top: 10%;
}
h1 {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  color: #ffffff;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  color: #ffffff;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #ff75ff;
}
p {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}
.btn-container {
  position: absolute;
  width: max-content;
  height: auto;
  left: 100px;
  top: 23%;
}
.btn-container .find-it-btn {
  width: 155px;
  height: 58px;
  background-color: transparent;
  border-radius: 45px;
  border: none;
  background-color: #a22cff;
}
.btn-container .tab {
  display: inline-block;
  margin-left: 40px;
}
.btn-container a {
  font-family: "Karla", sans-serif;
  background: transparent;
  text-decoration: none;
  font-size: 27px;
  color: white;
}
.btn-container a:hover {
  color: #3e006f;
}
.btn-container .sign-up-btn {
  width: 155px;
  height: 58px;
  background-color: transparent;
  border-radius: 45px;
  border-color: #b7b0ff;
}
.btn-container .sign-up-btn:hover {
  background-color: #ccc;
}
.section2 {
  width: 100%;
  height: 150vh;
  background-color: #131313;
}
.section2 .content {
  width: 100%;
  height: 70vh;
  margin-top: 20px;
}
.section2 .content .title {
  padding: 10px;
}
.section2 .content .title #Titlefitur {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
.section2 .content .title #Titlefitur2 {
  font-family: "Montserrat", cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #f5f5f5e3;
}
.section2 .container {
  width: 100%;
  height: 70vh;
}
.section2 .container .r-1 .col,
.r-2 .col {
  padding: 50px;
}
.section2 .container .r-1 .col .fitur1,
.fitur2,
.fitur3 {
  padding: 20px;
  border-radius: 20px;
}
.section2 .container .r-1 .col .fitur1:hover {
  background-color: #e046ff;
  transition: 0.3s;
}
.section2 .container .r-1 .col .fitur2:hover {
  background-color: #ff46f6;
  transition: 0.3s;
}
.section2 .container .r-2 .col .fitur3:hover {
  background-color: #ff46e6;
  transition: 0.3s;
}
.fitur1 a,
.fitur2 a,
.fitur3 a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-left: 0px;
  margin-top: 0px;
}
.fitur1 a:hover,
.fitur2 a:hover,
.fitur3 a:hover{
  color: #7800af;
}
.fitur1 span img,
.fitur2 span img,
.fitur3 span img {
  position: absolute;
  width: 50px;
  top: 80px;
}
.fitur1 h1,
.fitur2 h1,
.fitur3 h1 {
  margin-left: 70px;
}
.image1 img {
  position: absolute;
  width: 600px;
  height: auto;
}
h6 {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 240vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
