body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #131313;
}
.menu {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 81px;
  top: 24px;
}
.openbtn img {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  height: 24px;
  width: 40px;
  left: 20px;
  top: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.nav1 {
  margin-top: 200px;
}
#avatar {
  width: 100px;
  height: auto;
  /* border-radius: 233.5px; */
  position: absolute;
  left: 12%;
  top: 15%;
  cursor: pointer;
}
.navUser {
  margin-top: 50px;
}
.iconHome {
  display: block;
  width: 50px;
  height: auto;
}
.nav2 {
  margin-top: 100px;
}
.home,
.subject,
.account,
.profile,
.aboutUser {
  margin: 0px;
  padding: 20px 20px 20px 60px;
  transition: 0.4s;
}
.signIn,
.signOut,
.about {
  margin: 0px;
  padding: 10px 10px 10px 60px;
  transition: 0.4s;
}
.home:hover,
.subject:hover,
.account:hover,
.about:hover,
.signIn:hover,
.signOut:hover,
.profile:hover,
.aboutUser:hover {
  background-color: #260041;
}
.nav1 a,
.navUser a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-top: -40px;
  margin-left: 40px;
}
.nav2 a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-left: 0px;
  margin-top: 0px;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.haiyu {
  position: absolute;
  width: 139px;
  height: 60px;
  left: 72px;
  top: -8px;

  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;
}
.bg {
  position: absolute;
  width: 705px;
  height: auto;
  left: 47%;
  top: 35%;
}

.landing-text {
  position: relative;
  width: 932px;
  height: 270px;
  left: 81px;
  top: 172px;
}
h1 {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  color: #ffffff;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  color: #ffffff;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
}
p {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}
.btn-container {
  position: relative;
  width: max-content;
  height: auto;
  left: 81px;
  top: 228px;
}
.btn-container .find-it-btn {
  width: 155px;
  height: 58px;
  background-color: transparent;
  border-radius: 45px;
  border: none;
  background-color: #a22cff;
}
.btn-container .tab {
  display: inline-block;
  margin-left: 40px;
}
.btn-container a {
  font-family: "Karla", sans-serif;
  background: transparent;
  text-decoration: none;
  font-size: 27px;
  color: white;
}
.btn-container a:hover {
  color: #3e006f;
}

h6 {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
