*{
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', cursive;
    width: auto;
    background-color: #000000;
}
.Isi{
    margin-left: 115px;
    height: 600px;
    display: block;
}

.row{
    margin: 50px;
    margin-top: 100px;
    position: relative;
}

#pengajar h4{
  color:white;
  display: inline;
}

#pengajar img{
  height: 50px;
  width: 50px;
  margin-left:180px;
}

#chapter1{
    background: #AC53F8;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    cursor: pointer;
}
#chapter1:hover{
    background-color: #FFCFD8;
}
#chapter2{
    background: #FFC06F;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
#chapter2:hover{
    background-color: #FFDED7;
}
#chapter3{
    background: #74FFC5;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
#chapter3:hover{
    background-color: #FFF1E0;
}
#chapter4{
    background: #7C79FF;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
#chapter4:hover{
    background-color: #FFD7F7;
}
#chapter5{
    background: #FF5171;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
#chapter5:hover{
    background-color: #F0DEFF;
}

#midtest{
    background: #B0FF80;
    border-radius: 54px;
    width :229px;
    height :232px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}

#midtest:hover{
    background-color: #F0DEFF;
}

#icon{
    width: 112px;
    height: 111px;
    margin: 30px 58px 90px 59px;
    transition: 0.3s;
}

#title{
    margin:0px;
    padding:0px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

#titleSub{
    text-align: center;
    margin-top: -80px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}

#titleSub2{
    text-align: center;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 41px;
}

@media screen and (max-width:600px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }

  }

  h6{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-small;
    font-weight: bold;
}

#unenroll {
    border-radius: 22px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: larger;
    background-color: #eb4034;
    color: white;
    font-family: inherit;
    border-color:#eb4034;
    cursor: pointer;
    float: right;
    margin-right: 220px;
  }

  #unenroll:hover {
    background-color: #db2114;
    color: white;
    font-family: inherit;
    border-color: #db2114;
  }

  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    text-align: center;
  }
  
  .modal h1 {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    font-size: xx-large;
    text-align: center;
  }
  
  .modal button {
    border-radius: 22px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #ca91ff;
    color: inherit;
    font-family: inherit;
    border-color: #ca91ff;
    cursor: pointer;
    margin: 10px;
  }
  
  .modal button:hover {
    background-color: #6321a0;
    color: inherit;
    font-family: inherit;
    border-color: #803cc0;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #ff4164;
    margin: auto;
    padding: 0;
    border-radius: 1%;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 5px solid white;
  }
  
  .modal-header {
    display: inline;
    border-bottom: 1px solid white;
    padding-top: 0;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  /* The Close Button */
  #close {
    display: block;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #ca91ff;
    text-decoration: none;
    cursor: pointer;
  }

  #backButton{
    display: block;
    position: absolute;
    font-size: 100px;
    right: 75px;
    top: 0px;
    text-decoration: none;
    color: rgb(160, 29, 242);
  }
  
  #backButton:hover{
    color: rgb(76, 0, 99);
  }