body {
  font-family: "Righteous", cursive;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #131313;
}
.menu {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 81px;
  top: 24px;
}
.sidebar {
  height: 100%;
  width: 0;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 1;
  background-color: #520091;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidebar .top-nav {
  position: absolute;
  width: 481px;
  height: 40px;
  left: 0px;
  top: 0px;
}
.sidebar .top-nav .closedelete {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  color: #ffffff;
}
.sidebar .top-nav .haiyu-sidebar {
  position: relative;
  font-family: "Righteous", cursive;
  color: #ffffff;
  font-size: 48px;
  left: 70px;
  width: 80px;
}
.sidebar .top-nav .search-container {
  float: right;
  margin: 5px 10px 10px 10px;
}
.search {
  background: rgba(208, 208, 208, 0.37);
  border-radius: 7px;
}
.sidebar .user-info {
  margin-top: 75px;
}
.sidebar .user-info #welcome {
  font-size: 30px;
  margin-left: 40%;
  text-align: left;
}

.sidebar .bottom-nav {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 481px;
  height: 100px;
}
.sidebar .bottom-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  float: left;
}
.sidebar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.sidebar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.sidebar .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
.opendelete img {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  height: 24px;
  width: 40px;
  left: 20px;
  top: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.nav1 {
  margin-top: 200px;
}
#avatar {
  width: 100px;
  height: auto;
  /* border-radius: 233.5px; */
  position: absolute;
  left: 12%;
  top: 15%;
  cursor: pointer;
}
.navUser {
  margin-top: 50px;
}
.iconHome {
  display: block;
  width: 50px;
  height: auto;
}
.nav2 {
  margin-top: 100px;
}
.home,
.subject,
.account,
.profile,
.aboutUser {
  margin: 0px;
  padding: 20px 20px 20px 60px;
  transition: 0.4s;
}
.signIn,
.signOut,
.about {
  margin: 0px;
  padding: 10px 10px 10px 60px;
  transition: 0.4s;
}
.home:hover,
.subject:hover,
.account:hover,
.about:hover,
.signIn:hover,
.signOut:hover,
.profile:hover,
.aboutUser:hover {
  background-color: #260041;
}
.nav1 a,
.navUser a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-top: -40px;
  margin-left: 40px;
}
.nav2 a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin-left: 0px;
  margin-top: 0px;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.haiyu {
  position: absolute;
  width: 139px;
  height: 60px;
  left: 72px;
  top: -8px;

  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;
}
.user-info p {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}
.content {
  width: 800px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-color: white;
  border-radius: 38px;
}
h2 {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 90px;
  text-align: center;
  margin: 0;
}
form {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas:
    ".row1 .row2"
    ".submit .submit";
}
form .form-control1 label .default {
  width: 250px;
  height: auto;
  display: block;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 16%;
}
form .form-control1 label .profilePhoto {
  position: absolute;
  left: 25%;
  top: 150px;
  max-width: 300px;
  max-height: 400px;
  display: block;
  cursor: pointer;
  object-fit: cover;
  border-radius: 100px;
}
.profileGuru {
  position: absolute;
  left: 25%;
  top: 150px;
  max-width: 300px;
  max-height: 400px;
  display: block;
  cursor: pointer;
  object-fit: cover;
}
h3 {
  position: absolute;
  top: 450px;
  left: 30%;
}
form .form-control1 #imgProfile {
  visibility: hidden;
  width: 0;
  height: 0;
}
form .form-control {
  margin: 20px;
}
form .form-control input {
  font-family: "Righteous", cursive;
  font-style: normal;
  font-weight: normal;
  width: 90%;
  background: #eeeeee;
  border-radius: 38px;
  border: none;
  height: 30px;
  text-align: center;
  color: black;
  font-family: inherit;
  font-size: large;
}
form .form-control select {
  font-family: "Righteous", cursive;
  font-weight: normal;
  width: 40%;
  background: #eeeeee;
  border-radius: 38px;
  border: none;
  height: 30px;
  color: black;
  font-size: large;
  text-align-last: center;
}
form .form-control input:focus {
  outline: none;
}
.submit {
  border-radius: 22px;
  font-style: normal;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: #d7a6ff;
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 118%;
}
.submit:hover {
  background-color: #bf71ff;
  color: rgb(66, 66, 66);
}
.delete {
  position: absolute;
  text-decoration: none;
  top: 25px;
  left: 26%;
  background-color: rgb(255, 30, 41);
  border-radius: 20px;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.delete:hover {
  background-color: rgb(225, 65, 92);
}
